---
import Grid from "../../components/Grid.tsx";
import Layout from "../../layouts/Layout.astro";
import { supabase } from "../../db/supabase.js";

// turn off static prerendering
export const prerender = false;

const { id } = Astro.params;
---

<Layout title="NFL Squares">
  <section style="padding:24px;">
    <div style="max-width:1100px; margin:0 auto;">
      <Grid client:load gameId={id ?? ""} />
    </div>
  </section>
</Layout>
