---
import Layout from "../../layouts/Layout.astro";
import GameSetup from "../../components/GameSetup.tsx";
---

<Layout title="NFL Squares">
  <section
    class="flex flex-col items-center justify-center min-h-screen text-center px-4"
  >
    <h1 class="text-4xl font-bold mb-4">Welcome to NFL Squares</h1>

    <GameSetup client:load />
  </section>
</Layout>
