---
import Layout from "../../layouts/Layout.astro";
import GameSetup from "../../components/GameSetup.tsx";
---

<Layout title="NFL Squares">
  <section
    class="flex flex-col items-center justify-center min-h-screen text-center px-4"
  >
    <GameSetup client:load />
  </section>
</Layout>
